.header {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background-color: blanchedalmond;
}

/* Divide into 3 equal columns */
.left,
.center,
.right {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Alignment */
.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* Button styling */
button {
    padding: 6px 14px;
    cursor: pointer;
}
